/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .bg-custom-image {
  /* 背景画像を相対パスで指定 */
  background-image: url("zubora_recipe/zubora_recipe/app/assets/images/header_img.jpg");
  
  /* 2. 画像が繰り返されないように設定 */
  background-repeat: no-repeat;
  
  /* 3. 画像が要素全体を覆うように拡大・縮小（推奨） */
  background-size: cover;
  
  /* 4. 画像を中央に配置 */
  background-position: center center;
  
}
